# Problem Set 2

# Question 1

In [151]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a


#In  first step it shows result 0
#in second step it show sresult 0+2 =2
#in Third step it show result 2+2 =4
#in fina step 4+2 =6

6

# Question 2

In [15]:
def fileLength(filename):#defining function
    try:
        file = open(filename,'r')#open filename and read the content
        contents = file.read()
        file.close()
        print(len(contents))#find length of content in file
    except FileNotFoundError as file_error_customized:#error handling
        print('File {} not found.'.format(filename))#error message
File__Name=input("Enter the file name:")
fileLength(File__Name)

Enter the file name:idterm.py
File idterm.py not found.

# Question 4

In [20]:

def collatz(number):#defining function collatz

    if number % 2 == 0:
        print(number // 2)
        return number // 2

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result

n = input("Enter number: ")
while n != 1:
    n=collatz(int(n))

Enter number: 10
5
16
8
4
2
1

# Question 5

In [22]:
def Binary(n):#def function binary
    
   if n > 1:
       Binary(n//2)
   print(n % 2,end = '')

#decimalnumber
n = input("Give me a number: ")

Binary(int(n))
print()

Give me a number: 0
0

In [23]:
def Binary(n):#def function binary
    
   if n > 1:
       Binary(n//2)
   print(n % 2,end = '')

#decimalnumber
n = input("Give me a number: ")

Binary(int(n))
print()

Give me a number: 1
1

In [24]:
def Binary(n):#def function binary
    
   if n > 1:
       Binary(n//2)
   print(n % 2,end = '')

#decimalnumber
n = input("Give me a number: ")

Binary(int(n))
print()

Give me a number: 3
11

In [25]:
def Binary(n):#def function binary
    
   if n > 1:
       Binary(n//2)
   print(n % 2,end = '')

#decimalnumber
n = input("Give me a number: ")

Binary(int(n))
print()

Give me a number: 9
1001

# Question 8

In [123]:
con = sqlite3.connect('Test.db')
cur = con.cursor()
cur.execute('SELECT city,country,season,temperature,rainfall FROM ProblemSet')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [105]:
con = sqlite3.connect('Test.db')
cur = con.cursor()
cur.execute('SELECT  temperature FROM ProblemSet')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [108]:
cur.execute('SELECT distinct city FROM ProblemSet')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [132]:
word = 'India'
cur.execute('SELECT * FROM ProblemSet WHERE Country = ?', (word,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [133]:
word = 'Fall'
cur.execute('SELECT * FROM ProblemSet WHERE Season = ?', (word,))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [143]:
a=200,b=400
cur.execute('SELECT City,country,season FROM ProblemSet WHERE rainfall between ? and ?', (raina,rainb))
print(cur.fetchall())

SyntaxError: cannot assign to literal (<ipython-input-143-1a819b8b462a>, line 1)

In [141]:
a= 20
cur.execute('SELECT * FROM ProblemSet WHERE Temperature > ? order by temperature asc', (a,))
print(cur.fetchall())

[('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Spring', 28.4, 16.2)]

In [150]:
word = 'Cairo'
cur.execute('SELECT sum(rainfall) FROM ProblemSet WHERE country = ?', (word,))
print(cur.fetchall())

[(None,)]

In [147]:

cur.execute('SELECT season,sum(rainfall) FROM ProblemSet group by season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [104]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("The upper case of list :")
print([L.upper() for L in words],"\n")

print("The lower case list of words :")
print([L.lower() for L in words],"\n")

print("The length of each word in the list :")
print([len(L) for L in words],"\n")

print("The list containing words, the same in uppercase and lowercase and the length of the word : ")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

print("The list of words in list words containing 4 or more characters :")
print([L for L in words if len(L)>=4])

The upper case of list :
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

The lower case list of words :
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The length of each word in the list :
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing words, the same in uppercase and lowercase and the length of the word :
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The list of words in list words containing 4 or more characters :
['quick', 'brown', 'jumps', 'over', 'lazy']